

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

nav {
  background-color: white;
  /* position: fixed; */
  padding: 5px 0px 10px 15px;
}

nav a {
  display: inline-block;
  margin: 1rem 2rem;
  text-decoration: none;
  font-size: 1.2em;
  color: #FF671F;

  transition: 0.1s;
}

nav a:hover {
  color: #DA1884;
  border-bottom: 2px solid #DA1884;
}

nav a:active {
  color: #DA1884;
  border-bottom: 2px solid ;
}

nav a.active {
  color: #DA1884;
}

