

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

/* NAVBAR */

.logo {
  font-size: 30px;
  color: white;
}

nav {
  width: 100%;
  height: 55px;
  background-color: #1f3933;
  /* position: fixed; */
  padding: 5px 0px 10px 0px;
}

nav a {
  display: inline-block;
  margin: 1rem 2rem;
  text-decoration: none;
  font-size: 1.2em;
  color: white;
  transition: 0.1s;
}

nav a:hover {
  color: #067655;
  border-bottom: 2px solid #1f3933;
}

nav a:active {
  color: #1f3933;
  border-bottom: 2px solid ;

}

.page-container {
  position: relative;
  min-height: 100vh;
}

/* FOOTER */

footer {
  display: inline-block;
  width: 100%;
  height: 55px;
  background-color: #1f3933;
  padding: 0px 0px 10px 0px;
  position: absolute;
  bottom: 0;
  
}

footer a {
  display: inline-block;
  margin: 1rem 2rem;
  text-decoration: none;
  font-size: 1em;
  color: white;
  transition: 0.1s;
}

footer a:hover {
  color: #067655;
  border-bottom: 2px solid #1f3933;
}

footer a:active {
  color: #1f3933;
  border-bottom: 2px solid ;

}


/* COFFEE CARDS */
.cards {
  display: flex;
  overflow-x: auto;
  max-width: 100%;
  justify-content: center;
}

.card_button {
  padding:0.3em 1.2em;
  margin:0 0.3em 0.3em 0;
  border-radius:2em;
  box-sizing: border-box;
  text-decoration:none;
  font-weight:300;
  color:#FFFFFF;
  background-color:#1f3933;
  text-align:center;
  transition: all 0.2s;
}

.button-claimed {
  padding:0.3em 1.2em;
  margin:0 0.3em 0.3em 0;
  border-radius:2em;
  box-sizing: border-box;
  text-decoration:none;
  font-weight:300;
  color:#FFFFFF;
  background-color:#39796a;
  text-align:center;
  transition: all 0.2s;
}

.card {
  list-style-type: none;
  margin: 1rem;
  box-shadow: 0 0 7px 0 #ddd;
  border-radius: 60px;
  border: 1px solid #ccc;
  width: 225px;
  height: 95%;
}

.card .image {
  height: 225px;
  position: relative;
  width: 225px;
  display: flex;
  justify-content: center;
  border-radius: 5px;
}

.card .image img {
  border-radius: 10px;
}

div.description {
  height: 300px;
}

div.card_content {
  text-align: center;
  padding: 10px;
  height: 300px;
}

p.card_text {
  height: 200px;
}

/* COHORT CARDS */
.cards {
  padding-bottom: 60px
}

/* DROPDOWN */

div.dropdown-div {
  width: 100%;
  display: block;
  text-align: center;
  padding-bottom: 30px;
}

select.dropdown
{
  width: 180px;
  display: inline-block;
  margin-left: auto;
  margin-right: auto;
  text-align: left;
  padding: 5px;
}

.welcome {
  font-size: 300%;
  padding: 0;
  margin-block-start: 40px;
  margin-block-end: 40px;
}

.hello {
  font-size: 300%;
  padding: 0;
  margin-block-start: 40px;
  margin-block-end: 40px;
}

/* SUBMIT */

.submit-div {
  text-align: center;
  padding-top: 50px;
}

/* INTERACT */

.cohort_image {
  height: 125px;
  position: relative;
  width: 125px;
  display: flex;
  justify-content: center;
  border: 2px solid #1f3933 ;
  border-radius: 50%;
}








